@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root {
    --color01: #c5edbc;
    --color02: #83e1ad;
    --color03: #3ddc84;
    --color04: #2fa866;
    --color05: #1a5c37;
    --color06: #063d1e;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'idroid', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color01);
    font-family: var(--font-padrao);
}

a.externo::after {
    content: '\00A0\1f517';
}

header {
    background-image: linear-gradient(to bottom, var(--color04), var(--color06));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.321);
}

header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.286);
}

nav {
    background-color: var(--color06);
    padding: 10px;
    box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.345);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--color04);
    color: var(--color06);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.369);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    font-family: var(--font-android);
    color: var(--color06);
}

main h2 {
    font-family: var(--font-padrao);
    color: var(--color05);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--color02), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--color05);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color06);
    background-color: var(--color02);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--color05);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--color02);
    padding: 10px;
    border-radius: 10px;
}

aside > h3 {
    background-color: var(--color05);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.379);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--color06);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--color02);
}